#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.travel-main-div{
    
    padding-left: 0px;
    padding-right: 0px;
    float: none;
    border: 1px solid #c7c7c7;
}
.travel-main-div img{
    width: 100%;
    
    
}
.travel-main-div hr{
    width: 230;
    
}
.movie-head{
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    
}
.movie-head i{
    float: right;
}
#About-me{
    padding-top: 10px;
}
hr{
    margin-bottom: 10px;
}